<h2>¡A Buscar!</h2>
<p> Busca recetas para prepar con lo que tengas a disposición. Escribe
Los ingredientes que buscas en un receta (separados por una coma). </p>

<div id="container-search-app"> </div>
